.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 1.71rem;
}

.root > div {
  display: flex;
  gap: 1.71rem;
}

.root > div > button,
.root > div > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.14rem 0;
  gap: 0.86rem;
  width: 7.5rem;
  text-align: center;
  background-color: var(--button);
  color: var(--button-text);
  border-radius: 0.57143rem;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.root > div > button > svg,
.root > div > a > svg {
  height: 3.357142857142857rem;
  width: auto;
}
